<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Torminify : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Torminify</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/PaulDiakov/torminify">View on GitHub</a>

          <h1 id="project_title">Torminify</h1>
          <h2 id="project_tagline"></h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/PaulDiakov/torminify/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/PaulDiakov/torminify/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <p>Module for Tornado Web Server, designed to automate minification of css and js files, easily implement asynchronous loading of scripts and additional stylesheets, and cache compiled tornado templates in memory.
With torminify you can achieve the maximum possible speed of page loading:</p>

<p><a href="http://torminify.fornity.com/">Demo</a> </p>

<p><a href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Ftorminify.fornity.com%2F&amp;tab=mobile">PageSpeed Insights</a> </p>

<p>Any questions? Follow me on twitter: <a href="http://twitter.com/pauldiakov">@pauldiakov</a> </p>

<h2>
<a name="features" class="anchor" href="#features"><span class="octicon octicon-link"></span></a>Features:</h2>

<ul>
<li>Track changes in css, js files and templates, automatic minification of css and js using yui compressor and google closure compiler </li>
<li>Caching tornado templates in memory. By default tornado render compiles templates anew on each request. </li>
<li>Built-in asynchronous javascript loader with customizable scripts dependency. </li>
<li>Asynchronous loader for css files. </li>
</ul>

<h2>
<a name="dependencies" class="anchor" href="#dependencies"><span class="octicon octicon-link"></span></a>Dependencies:</h2>

<ul>
<li>pyyaml </li>
<li>tornado </li>
</ul>

<h2>
<a name="installation" class="anchor" href="#installation"><span class="octicon octicon-link"></span></a>Installation:</h2>

<p>Run</p>

<pre><code>pip install torminify
</code></pre>

<p>Or</p>

<pre><code>pip install git+https://github.com/PaulDiakov/torminify
</code></pre>

<p>Or clone the repository</p>

<pre><code>git clone https://github.com/PaulDiakov/torminify
</code></pre>

<p>In the directory <strong>example/</strong> there is an example of tornado application. At first you need to move the directory <strong>static/</strong> from example to the directory accessible for web server and configure the path in module configuration. 
In this tutorial we assume that the root directory for the static domain is<br>
<strong>/home/torminify/example/static/</strong> 
And the application root directory is 
<strong>/home/torminify/example/</strong> </p>

<p>It is recommended to create a separate cookie-less domain for static files. We will follow this rule. Nginx configuration might look like this: </p>

<p><strong>/etc/nginx/sites/st1.fornity.com</strong> </p>

<pre><code>server {
listen 80;
    server_name st1.fornity.com;
    location ^~ / {
        root /home/torminify/example/static/;
        access_log off;
        expires max;
        add_header Pragma public;
        add_header Cache-Control "public";
    }
}
</code></pre>

<p><strong>/etc/nginx/sites/torminify.fornity.com</strong></p>

<pre><code>upstream demo {
    server 127.0.0.1:8889;
}

server {
    listen 80;
    server_name torminify-demo.fornity.com;

    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://demo;
    }
}
</code></pre>

<p>Import library</p>

<pre><code>from torminify.minify import Minify
</code></pre>

<p>and create an instance of the class </p>

<pre><code>self.minify = Minify(
    #Файл с основными настройками модуля
    config='config/minify/minify.yaml',
    #Перечень css, js и шаблонов, изменения в которых будут отслеживаться
    watch='config/minify/watch.yaml',
    #Корневая директория домена со статикой
    web_root='/home/torminify/example/static/',
    #Служебный файл в котором torminify будет хранить 
    #время изменения отслеживаемых файлов
    cache_index='cache/minify_cache.yaml',
    debug=True)
</code></pre>

<p>Configure the module in file <strong>config/minify/minify.yaml</strong></p>

<pre><code>---
# If you use a separate domain for static - 
# specify static_domain or comment it out 
static_domain: http://st1.fornity.com

# Disable Minification to accelerate application restart 
# during development 
minify_css: True
minify_js: True

# Specify java path on your server 
# (or "java", if JAVA_HOME is set correctly) 
java_path: java

# Specify path to yui compressor and google closure compiler 
yui_path: tools/yui.jar
closure_path: tools/compiler.jar

# and additional parameters, if necessary 
#closure_additional_params: --compilation_level ADVANCED_OPTIMIZATIONS
#yui_additional_params: --line-break 0

# Directory where torminify will save minified files 
# (relative to the root directory of the statics domain) 
css_min_dir: min/
js_min_dir: min/

# This file will be minified 
# Its content will be placed in the &lt;head&gt; tag 
# Comment out css_inlined if you do not want to use this feature 
css_inlined: css/inlined.css

# Asynchronous javascript and css loader. 
# This file will be minified and embedded into the page template. 
js_loader: 
    file: config/minify/loader.js
    name: loader

# Directory with templates 
# (relative to the root directory of your application) 
templates_dir: templates/
</code></pre>

<p>Add to <strong>config/minify/watch.yaml</strong> files, changes in which torminify should track</p>

<pre><code>---
# List of stylesheets
css_files:
    - css/main.css

# A similar list of scripts 
# Each js file must have a name, file path relative to 
# root directory of the statics domain and optionaly 
# can contain parameter "extends" - names of current file dependencies
# If specified, file will be loaded only after 
# load of all its dependencies. 

js_files:
    - file: js/u.js
      name: u
    - file: js/application.js
      name: app
      extends:
          - u

# List of templates which should be cached in memory 
# when application's server starts 
preload_templates:
    - index.html
</code></pre>

<p>Start the server from <strong>example/</strong> as usual, 
specify the port that was used in nginx configuration file: </p>

<pre><code>python server.py --port=8889
</code></pre>

<p>When torminify built in function is used to render template, two additional parameters are passed:</p>

<pre><code>self.write(self.minify.render('index.html'))
</code></pre>

<p><strong>css_inlined</strong> - contains minified inlined.css content
<strong>css_js_loader</strong> - contains the code of the asynchronous loader 
You can see example of usage in templates/base.html</p>

<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;{% block title %}{% end %}Torminify Demo&lt;/title&gt;
    &lt;meta 
        name="viewport" 
        content="width=device-width,initial-scale=1.0,user-scalable=no" 
    /&gt;
    {% if css_inlined != "" %}
        &lt;style type="text/css"&gt;{% raw css_inlined %}&lt;/style&gt;
    {% end %}
  &lt;/head&gt;
  &lt;body id="app" class="wrap wider"&gt;
    &lt;script&gt;{% raw css_js_loader %}&lt;/script&gt;
    {% block body %}{% end %}
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>The loader adds function <strong>on</strong> into global scope. 
It can execute code when specific js files are loaded. 
Here you can use file names, specified in <strong>watch.yaml</strong> </p>

<pre><code>&lt;script&gt;
on("jquery","app",function(){
    console.log("This line will be displayed after a successful load of "+
                "jquery.js and application.js");
});
&lt;/script&gt;
</code></pre>

<p>Earlier we set for application.js (app) dependence on jquery.js (jquery), so now you can use callback like this: </p>

<pre><code>&lt;script&gt;
on("app",function(){
    console.log("This line will be displayed after a successful load of "+
                "jquery.js and application.js");
});
&lt;/script&gt;
</code></pre>

<p>Dependencies and function <strong>on</strong> allows you to load files asynchronously, saving the boot order where it is needed. For example, jQuery plugins will not be loaded before jQuery and the code that depends on the particular plugin will run only after its successful load.</p>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Torminify maintained by <a href="https://github.com/PaulDiakov">PaulDiakov</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-51790601-4");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
